POSTGRES_DB=siges_db
POSTGRES_USER=siges_user
POSTGRES_PASSWORD=siges_password
SECRET_KEY=super_secret_jwt_key_siges_2026_change_in_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_contrasena_de_aplicacion
SMTP_FROM_EMAIL=tu_correo@gmail.com
SMTP_FROM_NAME=SIGES
SMTP_USE_TLS=true
PASSWORD_RESET_CODE_MINUTES=10
